@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background-color: teal;
  padding-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
}

.get-weather {
  min-width: 130px;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

#city {
  height: 300px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap p:not(:last-child) {
  margin-bottom: 10px;
}

.location {
  font-size: 40px;
}

.temp {
  font-size: 22px;
}

.descr {
  font-size: 22px;
}

.btn-list {
  display: flex;
  justify-content: center;
}

.btn:not(:last-child) {
  margin-right: 10px;
}
